body{
    text-align: center;
}

button{
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 20px;
}

#result1 ,#result2, #result3 {
    margin-left: 100px;
    margin-right: 20px;
    text-align: center;
    margin-top: 50px;
}

